body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #722e2e;
}

.stopwatch-container {
    text-align: center;
    justify-content: center;
}

.stopwatch {
    font-size: 3rem;
    margin-bottom: 20px;
}

.controls {
    margin-top: 20px;
}

.lap-times {
    margin-top: 20px;
}

