body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.keyboard-container {
    text-align: center;
}

#key-display {
    font-size: 2em;
    margin-bottom: 10px;
}

#keycode-display {
    font-size: 1.5em;
}
